<ion-header>
    <ion-toolbar>
        <ion-title>Storage</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-button (click)="setItem()">setItem()</ion-button>
    <ion-button (click)="getItem()">getItem()</ion-button>
    <ion-button (click)="removeItem()">removeItem()</ion-button>
    <ion-button (click)="keys()">keys()</ion-button>
    <ion-button (click)="clear()">clear()</ion-button>
    <ion-button (click)="setObject()">setObject()</ion-button>
    <ion-button (click)="getObject()">getObject()</ion-button>

</ion-content>
