<ion-header>
    <ion-toolbar>
        <ion-title>
            Photo Gallery
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let photo of photoService.photos" col-6>
                <img [src]="photo.data"/>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!--  https://ionicframework.com/docs/api/fab-->
    <ion-fab horizontal="center" slot="fixed" vertical="bottom">
        <ion-fab-button (click)="photoService.takePicture()">
            <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab horizontal="end" slot="fixed" vertical="top">
        <ion-fab-button (click)="photoService.loadMultipleImageFromGallery()">
            <ion-icon name="images"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
